@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {

    display: flex;
    width: 100vw;
}

.panel {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vw;
    border-radius: 40px;
    color: #ba9b9b;
    cursor: pointer;
    flex: 0.7;
    margin: 5px;
    position: relative;
    transition: flex 0.2s ease-in-out;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;

}

@media(max-width:800px) {
    .container {
        width: 100vw;

    }
    /* .panel:nth-of-type(3), */
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}